.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--white) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar_item {
  padding: 15px !important;
}

.link {
  color: var(--medium-blue);
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.link_active {
  color: var(--dark-blue);
  font-weight: 500;
}

.icon {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
